body{
    background-image:url(istockphoto-1294603953-612x612\ \(1\).png) ;
    background-size: cover;
  }
  
  h1
  {
    font-family: 'Special Elite', fantasy;
    color:rgb(255, 255, 255);
    background-color: rgb(53, 53, 53);
  }
  
  #show_sketch
  {
    float:right;
  }
  
  #timer{
    float: right;
  }
  
  #sketch_to_be_drawn{
    color: red;
  }
  
  canvas 
    {
      border:2px solid white;
      border-radius:20px;
      margin-top:135px;
      box-shadow:5px 5px 5px grey;
      box-shadow: 1px 1px 38px #ffffff;
      animation-name: example;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  }
  @keyframes example {
  
    from {box-shadow: 1px 1px 38px rgb(255, 255, 255);}
    to {box-shadow: 1px 1px 38px rgb(181, 181, 181);}
  
  }
  
  
  p, span
  {
      padding-top:10px;
      font-family: 'Special Elite', fantasy;
      font-size:25px;
  }

  p{
color: aliceblue;


  }

  span{

    color: aliceblue;
  }